/* @import "compass/css3"; */

/* $header-height: 4em; */

html{
    font-family: 'Lato', sans-serif;
}
body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
body, html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.blogbody {
  background-color:#fefefe;
}

.blogfade {
  animation: blogfadein 0.68s;
}
@keyframes blogfadein {
  from { opacity:0; }
  to { opacity:1; }
}

.blogheaderbar {
  margin-top:-100px;
}
.blogheader {
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  height:200px;
  margin-bottom:50px;
}
.bloghcard {
  width:60%;
}
.bloghheader {
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
}
.bloghtitle h1 {
  font-size:1.68em;
}
.bloghdate h4 {
  font-size:1.1em;
}
.bloghwyscblogwords {
  text-shadow: 0px 3px 20px rgba(0, 0, 0, 1);
}
.bloghlinks {
  text-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
}
/* .bloghfooter div div {
  
} */
.blogpbody {
  width:70%;
}
.blogtext {
  color:#121212;
  font-size:1.2em;
  line-height:1.68em;
}
.startbody {
  background-color:#212121;
}

/* Custom Convenience */

.fontgochihand {
  font-family:'Gochi Hand','Helvetica',sans-serif;
}
.padb40 {
  padding-bottom:40px;
}
.width100 {
  width:100%;
}

/* Transplanted */

/* Animista moved to bottom */

.appstyle {
  font-family:'Gochi Hand';
  font-size:8.5em;
  color:#e6e6e6;
  text-shadow: 0px 3px 20px rgba(0, 0, 0, 1);
}

/* buttonfancy */
.btnfancy {
  position: relative;
  color: white;
  width: 200px; /*old: 256px */
  height: 55px; /*old: 64 */
  line-height: 55px; /*old: 64 */
  cursor: pointer; /* added myself */
  box-shadow: 10px 10px 50px -25px rgba(0,0,0,0.75);
  transition: all 0.3s;
  margin-top: 15px; /* added myself */
}
.btnfancy span {
  transition: all 0.3s;
  transform: scale(1, 1);
}
.btnfancy::before, .btnfancy::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn-one::before {
  left: 4px;
  z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.35);
  transform: scale(0.1, 1);
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-one:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}
.btnfancylg {
  position: relative;
  color: white;
  width: 256px; /*old: 256px */
  height: 64px; /*old: 64 */
  line-height: 64px; /*old: 64 */
  /* cursor: pointer; added myself */
  box-shadow: 10px 10px 50px -25px rgba(0,0,0,0.75);
  transition: all 0.3s;
}
.btnfancy span {
  transition: all 0.3s;
  transform: scale(1, 1);
}
.btnfancylg::before, .btnfancylg::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}  
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateccw {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }

.centeritvertically {
  margin-top: 50vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centeritvertically2 {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* input field https://codepen.io/Takumari85/pen/RaYwpJ */
.effect-17:focus{outline: none;}
.col-3{float: left; width: 27.33%; margin: 40px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.effect-17 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-17:focus ~ .focus-border,
.has-content.effect-17 ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.effect-17 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-17:focus ~ label, .has-content.effect-17 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}

.floating-scrollspy {
    display: block;
    position: relative; /*
    top: 50%;
    right: 10px; */
  }
  
  .floating-scrollspy .nav {
    display: block;
  }
  
  .floating-scrollspy .nav-link {
    display: block;
    padding: 10px;
    line-height: 0;
    font-size: 0;
  }
  
  .floating-scrollspy .nav-link span {display: none;}
  .floating-scrollspy .nav-link i {
    width: 18px;
    height: 18px;
    margin: 1em auto;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.1s all ease-in-out;
  }
  
  .floating-scrollspy .nav-link.active i,
  .floating-scrollspy .nav-link:hover i{
    opacity: 0.9;
  } 

/* .headerbg {
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
  height:calc(100vh + 165px);
} */

.height100vh {
  height: 100vh;
}

.hoverscale {
  transform: scale(1);
  transition: transform 0.2s linear;
}

.hoverscale:hover {
  transform: scale(1.025);
  transition: transform 0.2s linear;
}

.img-hover-zoom { /* https://w3bits.com/css-image-hover-zoom/ */
  /* height: 300px; Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}
  /* Brightness-zoom Container */
  .img-hover-zoom--brightness img:not(.svgee) {
    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(45%);
  }
  /* The Transformation */
  .img-hover-zoom--brightness:hover img:not(.svgee) {
    filter: brightness(55%);
    transform: scale(1.1);
  }

#logohovershadow {
    transition: box-shadow 300ms;
}

#logohovershadow:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#navbarlinks {
    color: #dedede;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    transition: font-weight 100ms;
}

#navbarlinkactive, #navbarlinks:hover {
    color: #efefef;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.rainbowtext {
  /* background-image: repeating-linear-gradient(124deg, violet, indigo, blue, green, yellow, orange, red, violet); */
  background: linear-gradient(124deg, #ff2400, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #ff2400);
  color: transparent;
  background-size: 1800% 1800%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;


  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
@-webkit-keyframes rainbow{0%{background-position:0 82%}50%{background-position:100% 19%}100%{background-position:0 82%}}@-moz-keyframes rainbow{0%{background-position:0 82%}50%{background-position:100% 19%}100%{background-position:0 82%}}@-o-keyframes rainbow{0%{background-position:0 82%}50%{background-position:100% 19%}100%{background-position:0 82%}}@keyframes rainbow{0%{background-position:0 82%}50%{background-position:100% 19%}100%{background-position:0 82%}}

.roundtopleft {
    border-top-left-radius:5%;
    -moz-top-left-border-radius:5%;
    -webkit-top-left-border-radius:5%;
    -khtml-top-left-border-radius: 5%;
}

.roundtopright {
    border-top-right-radius:25%;
    -moz-top-right-border-radius:25%;
    -webkit-top-right-border-radius:25%;
    -khtml-top-right-border-radius: 25%;
}

.sectionall {
  background: #212121;
  /* background-image: linear-gradient(155deg, #002f62 0%, #18496a 50%, #138b89 100%); */
  left: 0;
  right: 0;
  text-align: center;
}
    .sectionmargin {
      margin: 5% 10%;
    }
    .section01 {
      height: calc(100vh + 200px);
      position: absolute;
      top: 0;
      color: #efefef;
      -webkit-box-shadow:inset 0 -5px 60px rgba(0,0,0,0.9);
      box-shadow: 0 -5px 60px rgba(0,0,0,0.9) inset;
    }
    .section02 {
      height: auto;
      position: relative;
      color: #efefef;
    }
    .section021 {
      background: #9c5d49;
    }
    .section022 {
      background: #eeeeee;
    }
    .shiftdownheader {
      top: calc(100vh + 200px);
      position: relative;
    }


.sectiontextcolor {
  color: #efefef;
  text-align:center;
}

.side-menu {
    /* background-color: #914c35; For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right, rgb(17,17,17),  rgba(255,0,0,0)); Standard syntax (must be last) */
    background: radial-gradient(at top left, rgb(20,17,17,17), rgba(255,0,0,0), rgba(255,0,0,0));
    /* -webkit-animation: AnimationName 1500ms ease infinite;
    -moz-animation: AnimationName 1500ms ease infinite;
    animation: AnimationName 1500ms ease infinite;
@-webkit-keyframes AnimationName{0%{background-position:0 50%}50%{background-position:100% 50%}100%{background-position:0 50%}}@-moz-keyframes AnimationName{0%{background-position:0 50%}50%{background-position:100% 50%}100%{background-position:0 50%}}@keyframes AnimationName{0%{background-position:0 50%}50%{background-position:100% 50%}100%{background-position:0 50%}} */
    border: 0px solid #444;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    width: 600px;
    left: -496px;
    padding: 15px;
    text-decoration: none;
    top: 0;
    height: 100%;
    position: fixed;
    cursor: pointer;
	  -webkit-animation: slide-in-blurred-left 1750ms cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 1750ms cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
    .menu-hover{
        display: block;
        overflow: hidden;
        text-indent: -9999px;
        width: 300px;
        height: 60%;
        border: 1px solid red;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .menu-hover2{
        display: block;
        overflow: hidden;
        text-indent: -9999px;
        width: 100%;
        height: 600px;
        border: 1px solid blue;
        position: relative;
    }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.svgheader {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: transparent;
}

.tabtext {
    text-transform: uppercase;
}

.w3sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.w3sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.w3sidenav a:hover {
    color: #f1f1f1;
}

.w3sidenav .w3closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .w3sidenav {padding-top: 15px;}
    .w3sidenav a {font-size: 18px;}
}

#wscgradient {
    background-color: #914c35; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #AA8477, #A56D5B); /* Standard syntax (must be last) */
}

#wscdiscordshadow {
    background-image: linear-gradient(to bottom left, rgb(24,24,24), rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0)); /* Standard syntax (must be last) */

    border: 0px solid #444;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    width: 300px;
    height: 150px;
    right: 0;
    padding: 15px;
    text-decoration: none;
    top: 0;
    position: fixed;
    z-index: 5;
}

#wscheader {
    width: 100%;
    background-color: #212121; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(255, 0, 0, 0), rgba(255,10,10,10)); /* Standard syntax (must be last) */
}


/* Generated by Animista on 2019-3-12 2:11:53 w: http://animista.net, t: @cssanimista */

.fade-in-fwd {
	-webkit-animation: fade-in-top 3.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) 6s reverse both;
	        animation: fade-in-top 3.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) 6s reverse both;
}
.fade-in-fwd-a1 {
	-webkit-animation: fade-in-top 3.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) 6s both;
	        animation: fade-in-top 3.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) 6s both;
}
.fade-in-top { /* using as a fade-out-to-top */
	-webkit-animation: fade-in-top 1.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) 6s reverse both;
	        animation: fade-in-top 1.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) 6s reverse both;
}
.jello-horizontal:hover {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

.jello-vertical:hover {
	-webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}
.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.text-shadow-drop-bottom {
	-webkit-animation: text-shadow-drop-bottom 4s both;
	        animation: text-shadow-drop-bottom 4s both;
}

/*animation fade-in-fwd*/
@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
/*animation fade-in-top*/
@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
/*animation jello-horizontal*/
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
/*animation jello-vertical*/
@-webkit-keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@media only screen and (max-width:600px){hoverscale:hover{transform:scale(1)}}
/*animation kenburns-top*/
@-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}
/*animation slide-in-blurred-left*/
@-webkit-keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}
/*animation text-shadow-drop-bottom*/
@-webkit-keyframes text-shadow-drop-bottom{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 6px 18px rgba(0,0,0,.35)}}@keyframes text-shadow-drop-bottom{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 6px 18px rgba(0,0,0,.35)}}

@media (max-width: 768px) { /* up to d-md */
  .bloghcard {
    width:85%;
  }
  .blogpbody {
    width:85%;
  }
}