<!DOCTYPE html>
<html lang="en">
<head>
    {% include wyscheader.html %}
</head>
<body class="docsbody">

    {% include wyscnav.html %}

    <div class="dhheader2">
        <div class="d-none d-md-block" style="padding-top:100px;"></div>
        <div class="blogfadeb00 sectiontextcolor">
            <h1 style="padding-bottom:20px;font-family:'Gochi Hand';font-size:3.5em;">How can we help?</h1>
        </div>
        <div class="blogfadeb00">
            <link href="/js/algoliasearch/app.css" rel=stylesheet />
        </div>
    </div>

    <div class="dhcatcontent blogfadeb01">
        {% if page.maincats %}
            <div class="dhcatcoll">
                {% for item in page.maincats %}
                    <a href="docs/{{ item.catslug }}" class="dhcatcollsect">
                        <div class="dhcatcollcard shadow hoverscale">
                            <div>
                                <i class="material-icons p-3 md-36">{{ item.caticon }}</i>
                            </div>
                            <div class="dhcatcollcard2">
                                <div>
                                    <h5 class="card-title pt-2 pb-2">{{ item.cattitle }}</h5>
                                </div>
                                <div>
                                    <p class="card-text">{{ item.catdesc }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        
    </div>



            <!-- <div class="p-4"></div>
            <div class="row mx-auto justify-content-center">
                
                {% for item in page.maincats %}
                    <a href="docs/{{ item.catslug }}" class="list-group-item col-md-4 docstextwysclight2 bg-transparent" style="border:0;">
                        <div class="card mb-0 bg-light shadow blogfadeb00">
                            <div class="card-body p-4 text-center">
                                <i class="material-icons p-3 md-36">{{ item.caticon }}</i>
                                <h5 class="card-title pt-2 pb-2">{{ item.cattitle }}</h5>
                                <p class="card-text">{{ item.catdesc }}</p>
                            </div>
                        </div>    
                    </a>
                {% endfor %}

            </div>
            <div class="p-4"></div> -->
    <!-- <div style="height:600px;background:#414141;">p</div> -->

{% include wyscfooter.html %}

</body>
</html>