<!DOCTYPE html>
<html lang="en">
<head>
    {% include wyscheader.html %}
</head>
<body class="docsbody">

    {% include wyscnav.html %}

    <div class="parallaxbg sectiontextcolor dhheader"> <!-- /gsyl/tr:w-100,f-jpg,pr-true/ -->
        <div class="text-center" style="width:100%;z-index:4;min-height:100vh;">

            <div class="d-none d-md-block" style="padding-top:20vh;"></div>
            <div class="d-md-none" style="padding-top:10vh;"></div>

            <div>
                <div class="blogfadeb00"><h1 class="text-shadow-drop-bottom align-center fontgochihand pl-2 pr-2" style="font-size:3.5em;letter-spacing:0.06rem;margin-bottom:2.5vh;">Find What You Need</h1></div>
                <div class="d-none d-md-block" style="padding-bottom:1.5em;"></div>
                <div class="text-center blogfadeb02 mx-auto docshcell text-info noselect" style="width:80%;">
                    <a href="docs/about" class="cursornone card dhcards hoverscale">
                        <div>
                            <div class="card-body p-4 dhcardcontent docstopcards">
                                <i class="material-icons p-3 md-36">favorite</i>
                                <h5 class="card-title">About Wysc</h5>
                            </div>
                        </div>
                    </a>
                    <a href="docs/discord" class="cursornone card dhcards hoverscale">
                        <div>
                            <div class="card-body p-4 dhcardcontent docstopcards">
                                <i class="material-icons p-3 md-36">format_list_bulleted</i>
                                <h5 class="card-title">How to Use Wysc</h5>
                            </div>
                        </div>
                    </a>
                    <a href="https://gdocs.gitbook.io/wysc/start" target="blank" rel="noopener" class="cursornone card dhcards hoverscale">
                        <div>
                            <div class="card-body p-4 dhcardcontent docstopcards">
                                <i class="material-icons p-3 md-36">bubble_chart</i>
                                <h5 class="card-title">Bot Commands</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="blogfadeb03 p-2" style="margin-top:10vh;">Popular Articles</h4>
                <div class="text-center blogfadeb04 mx-auto docshcell text-light noselect" style="width:80%;">
                    <a href="docs/about/1" class="cursornone card bg-dark dhcardsmini hoverscale">
                        <div class="card-body p-4">
                            <h5 class="card-title">About Us/Staff</h5>
                        </div>
                    </a>
                    <a href="docs/about/credits" class="cursornone card bg-dark dhcardsmini hoverscale">
                        <div class="card-body p-4">
                            <h5 class="card-title">Credits</h5>
                        </div>
                    </a>
                    <a href="docs/discord/server-ranks" class="cursornone card bg-dark dhcardsmini hoverscale">
                        <div class="card-body p-4">
                            <h5 class="card-title">Server Ranks</h5>
                        </div>
                    </a>
                </div>

                <!--
                <div class="blogfadeb03" style="padding-top:100px;">
                    <h1 class="text-shadow-drop-bottom align-center fontgochihand pl-2 pr-2" style="font-size:3.5em;letter-spacing:0.06rem;margin-bottom:2.5vh;">Popular Articles</h1>
                </div>
                <div class="blogfadeb04 mx-auto" style="width:50%;">
                    <div class="card">
                        <div class="card-body text-dark">
                            <p style="margin-top:1em;"><a href="discord/wysclibrary">Discord - Wysc Library</a></p>
                            <p><a href="discord/culture">Discord - Culture</a></p>
                            <p><a href="discord/bots">Discord - Bots</a></p>
                            <p><a href="discord/server-ranks">Discord - Server Ranks</a></p>
                            <p><a href="about/credits">Wysc Info - Credits</a></p>
                        </div>
                    </div>
                </div> -->

                <div style="padding-bottom:80px;"></div>
        
                <div class="blogfadeb04">
                    <div style="color:#dedede;padding-top:40px;">&copy; 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script>,&nbsp;Wysc Services.</div>
                    <div class="text-center p-4 fontgochihand" style="color:#aaa;font-size:1.8em;"><span onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" style="cursor:pointer;">Wysc.</span></div>
                </div>

            </div>
        </div>
    </div>

{% include wyscfooter.html %}

<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700i&display=swap" rel="stylesheet">

</body>
</html>