<!-- desktop topnav -->
<div class="d-none d-md-block noselect wnavglobal">
    <nav class="navbar fixed-top navbar-dark bg-transparent">

        {% if page.headername == 'Home' %}
            <a class="navbar-brand hoverscale" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" style="cursor:pointer;">
                <img src="media/wsc-square-sm.png" width="70" height="70" class="rounded-circle d-inline-block align-middle shadow homefadeb00" alt="logo">
                <span class="d-inline-block align-middle homefadeb01 fontgochihand wlogo">Wysc<span class="fade-in-fwd-a1">.</span></span>
            </a>
        {% else %}
            <a class="navbar-brand hoverscale" href="/index">
                <img src="/media/wsc-square-sm.png" width="70" height="70" class="rounded-circle d-inline-block align-middle shadow" alt="logo">
                <span class="d-inline-block align-middle fontgochihand wlogo">Wysc.</span>
            </a>
        {% endif %}

        <div class="navbar-nav navbar-expand mr-auto align-bottom homefadeb02">
            <span class="nav-item d-inline-block align-bottom fade-in-fwd wlogosub">Virtual Study Cafe</span>
        </div>
        <ul class="navbar-nav navbar-expand ml-auto homefade00 align-middle">

            {% if page.headername == 'Home' %}
                <li class="nav-item active p-3">
                    <a class="nav-link" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" style="cursor:pointer;">Home<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item p-3">
                    <a class="nav-link" href="{{ site.baseurl }}/index">Home</a>
                </li>
            {% endif %}

            {% if page.headername == 'Blog' %}
                <li class="nav-item active p-3">
                    <a class="nav-link" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" style="cursor:pointer;">Blog<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item p-3">
                    <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
                </li>
            {% endif %}
            
            {% if page.headername == 'Docs' %}
                <li class="nav-item active p-3">
                    <a class="nav-link" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" style="cursor:pointer;">Home<span class="sr-only">(current)</span></a>
                </li>
            {% elsif page.headername == 'Docs-sub' %}
                <li class="nav-item active p-3">
                    <a class="nav-link" href="{{ site.baseurl }}/docs">Docs</a>
                </li>
            {% else %}
                <li class="nav-item p-3">
                    <a class="nav-link" href="{{ site.baseurl }}/docs">Docs</a>
                </li>
            {% endif %}
            
            {% if page.headername == 'Dashboard' %}
                <li class="nav-item active p-3">
                    <a class="nav-link" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" style="cursor:pointer;">Home<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item p-3">
                    <a class="nav-link" href="{{ site.baseurl }}/dash">Dashboard</a>
                </li>
            {% endif %}
            
        </ul>
    </nav>
</div>
<!-- mobile bottomnav -->
<div class="d-md-none noselect wnavglobal">
    <nav class="nav-extended fixed-bottom rounded-top shadow-lg p-2 wnavmb">
        <div class="nav-content text-center">
            <ul class="nav nav-justified">
                <li class="nav-item align-middle">
                    <a class="nav-link pulsate-fwd {% if page.headername == 'Home' %}wnavmblinkactive" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"{% else %}wnavmblinks" href="index"{% endif %}>
                        <i class="material-icons">home</i><br>
                        <div>Home</div>
                    </a>
                </li>
                <li class="nav-item align-middle">
                    <a class="nav-link pulsate-fwd {% if page.headername == 'Blog' %}wnavmblinkactive" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"{% else %}wnavmblinks" href="blog"{% endif %}>
                        <i class="material-icons">class</i><br>
                        <div>Blog</div>
                    </a>
                </li>
                <li class="nav-item align-middle">
                    <a class="nav-link pulsate-fwd {% if page.headername == 'Docs' %}wnavmblinkactive" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"{% else %}wnavmblinks" href="docs"{% endif %}>
                        <i class="material-icons">vertical_split</i><br>
                        <div>Docs</div>
                    </a>
                </li>
                <li class="nav-item align-middle">
                    <a class="nav-link pulsate-fwd {% if page.headername == 'Dashboard' %}wnavmblinkactive" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"{% else %}wnavmblinks" href="dash"{% endif %}>
                        <i class="material-icons">apps</i><br>
                        <div>Apps</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>