/* Dark theme */

html, html[data-theme="light"] {
    --sidebar-bg: hsl(0, 0%, 98%);
    --sidebar-bg-border: hsl(0, 0%, 88%);
    --jtnav-text-h2: #2c7a7b;
    --body-base: hsl(0, 0%, 100%);
    --text-base: hsl(0, 0%, 12%);
    --text-size: 1.1rem;
    --text-title: var(--wysc-red);
    --text-lead: hsl(0, 0%, 18%);
    --text-link: var(--wysc-red);
    --text-link-hover: hsl(15, 46%, 29%);
    --text-h1: hsl(0, 0%, 12%);
    --text-h2: hsl(0, 0%, 12%);
    --text-h3: hsl(0, 0%, 12%);
    --text-divider: hsl(0, 0%, 88%);
    --wysc-gray: var(--stable-wysc-gray);
    --wysc-red: var(--stable-wysc-red);
    --stable-wysc-gray: hsl(0, 0%, 92%);
    --stable-wysc-red: hsl(15, 46%, 39%);
}
html[data-theme="dark"] {
    --sidebar-bg: hsl(0, 0%, 6%);
    --sidebar-bg-border: hsl(0, 0%, 14%);
    --jtnav-text-h2: #81E6D9;
    --body-base: hsl(0, 0%, 12%);
    --text-base: hsl(0, 0%, 92%);
    --text-size: 1.1rem;
    --text-title: var(--wysc-red);
    --text-lead: hsl(0, 0%, 90%);
    --text-link: var(--wysc-red);
    --text-link-hover: hsl(15, 51%, 74%);
    --text-h1: hsl(0, 0%, 98%);
    --text-h2: hsl(0, 0%, 96%);
    --text-h3: hsl(0, 0%, 94%);
    --text-divider: hsl(0, 0%, 48%);
    --wysc-gray: hsl(0, 0%, 22%);
    --wysc-red: hsl(15, 51%, 69%);
}
@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
	}
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
	}
}

/* 
    --wysc-red-u1: hsl(15, 41%, 44%);
    --wysc-red-u2: hsl(15, 36%, 49%);
    --wysc-red-u4: hsl(15, 26%, 59%);
    --wysc-blue: #aaa;
    --wysc-dark0: #aaa;
    --wysc-dark1: #111;
    --wysc-dark2: hsl(120, 3%, 14%);
    --wysc-light0: #e9ecef;
    --wysc-light1: hsl(120, 3%, 94%);
    --wysc-light2: hsl(120, 3%, 84%);
    --wysc-light3: hsl(200, 14%, 76%);
*/


/* Custom Colors */
.text-text-base {
    color: var(--text-base);
}
.text-stable-wysc-gray {
    color: var(--stable-wysc-gray);
}
.bg-sidebar-bg {
    background-color: var(--sidebar-bg);
}
.bg-body-base {
    background-color: var(--body-base);
}
.bg-wysc-red {
    background-color: var(--wysc-red);
}
.bg-wysc-light0 {
    background-color: var(--wysc-light0);
}
.bg-wysc-light1 {
    background-color: var(--wysc-light1);
}
.bg-wysc-light2 {
    background-color: var(--wysc-light2);
}
.bg-stable-wysc-red {
    background-color: var(--stable-wysc-red);
}
.hover-wysc-gray:hover {
    background-color: var(--wysc-gray);
}


html {
    font-family: "Mada",-apple-system,BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    color: var(--text-base);
    background-color: var(--body-base);
    transition: all 0.2s ease;
	scroll-behavior: smooth;
}
h1 {
    color: var(--text-h1);
}
h2 {
    color: var(--text-h2);
}
h3 {
    font-size: 1.65rem;
    padding-top: 5.65rem;
    margin-top: -3rem;
    padding-bottom: 0.75rem;
    font-weight: bold;
    color: var(--text-h3);
}
p {
    font-size: var(--text-size);
    line-height: 1.75;
}
a > div {
    transition: background-color 0.2s ease-in-out;
}


.bg-jtsidebar {
    background-image: linear-gradient(305deg, rgba(254, 254, 254,0.02) 0%, rgba(254, 254, 254,0.02) 1%,transparent 1%, transparent 50%,rgba(220, 220, 220,0.02) 50%, rgba(220, 220, 220,0.02) 64%,rgba(249, 249, 249,0.02) 64%, rgba(249, 249, 249,0.02) 100%),linear-gradient(38deg, rgba(70, 70, 70,0.02) 0%, rgba(70, 70, 70,0.02) 35%,transparent 35%, transparent 62%,rgba(152, 152, 152,0.02) 62%, rgba(152, 152, 152,0.02) 74%,rgba(99, 99, 99,0.02) 74%, rgba(99, 99, 99,0.02) 100%),linear-gradient(337deg, rgba(124, 124, 124,0.02) 0%, rgba(124, 124, 124,0.02) 45%,transparent 45%, transparent 55%,rgba(34, 34, 34,0.02) 55%, rgba(34, 34, 34,0.02) 72%,rgba(189, 189, 189,0.02) 72%, rgba(189, 189, 189,0.02) 100%),linear-gradient(92deg, rgba(239, 239, 239,0.02) 0%, rgba(239, 239, 239,0.02) 12%,transparent 12%, transparent 22%,rgba(204, 204, 204,0.02) 22%, rgba(204, 204, 204,0.02) 51%,rgba(70, 70, 70,0.02) 51%, rgba(70, 70, 70,0.02) 100%),linear-gradient(90deg, var(--sidebar-bg), var(--sidebar-bg));
    border-right: 1px solid var(--sidebar-bg-border);
}
.jtnav-text-h2 {
    color: var(--jtnav-text-h2);
}
.jtbodycontent {
    scroll-behavior: smooth;
}
    .jtbodycontent a {
        color: var(--text-link);
        transition: color 0.2s ease-in-out;
    }
        .jtbodycontent a:hover {
            color: var(--text-link-hover);
        }
        .jtbodycontent .jtbody-topbar a, .jtbodycontent .jtbody-topbar a:hover, #markdown-toc a, #markdown-toc a:hover, .jtrightbar a, .jtrightbar a:hover, .modal__container a, .modal__container a:hover {
            color: var(--text-base);
        }
    .jtbodycontent p {
        margin-bottom: 1.65rem;
    }
.jtbody-text-title {
    color: var(--text-title);
}
.jtbody-text-lead {
    color: var(--text-lead);
    line-height: 1.65;
}
.jtbody-divider {
    background-color: var(--text-divider);
}
.jtbody-topbar-md {
    background: linear-gradient(180deg, var(--body-base) 0%, var(--body-base) 90%, rgba(0,0,0,0) 100%);
}
.jtrightbar div.absolute {
    width: 13%;
    max-width: 20rem;
}
.jtrightbar div.absolute ul.flex {
    width: max-content;
}
#markdown-toc { /* see jtbodycontent a */
    border-radius: 0.25rem;
    background-color: var(--sidebar-bg);
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 20rem;
    max-width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
    #markdown-toc::before {
        content: "Table of Contents";
        font-size: 1.45rem;
        font-weight: bold;
        color: var(--text-h3);
        line-height: 2;
    }
    #markdown-toc li {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        width: 100%;
        border-radius: 0.25rem;
        transition: background-color 0.2s ease-in-out;
    }
    #markdown-toc li a {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        display: block;
    }
    #markdown-toc li:hover {
        background-color: var(--wysc-gray);
    }
    @media only screen and (min-width: 1280px) {
        #markdown-toc {
          display: none;
        }
    }
    .rightbarcontent * {
        display: none;
    }
    .rightbarcontent #markdown-toc, .rightbarcontent #markdown-toc * {
        display: block;
    }
    .rightbarcontent #markdown-toc::before {
        content: "Table of Contents";
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--text-h3);
        margin-left: 0.15rem;
        line-height: 2.5;
    }
    .rightbarcontent #markdown-toc {
        border-radius: 0rem;
        background-color: transparent;
        padding-top: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 0rem;
        box-shadow: none;
    }
    .rightbarcontent #markdown-toc li {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        width: 100%;
        border-radius: 0.25rem;
        transition: background-color 0.2s ease-in-out;
    }


.border-r-wysc-light2 {
    border-right: 1px solid var(--wysc-light2);
}
.hoverscale {
    transform: scale(1);
    transition: transform 0.2s linear;
  }
  .hoverscale:hover {
    transform: scale(1.025);
    transition: transform 0.2s linear;
  }


/* Micromodal js */

.modal ul h2 {
    font-size: 1rem;
}
.modal ul li a div {
    font-size: 1.1rem;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__container {
    width: 350px;
    max-width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-right: auto;
    border-radius: 0px 4px 0px 4px;
    overflow-y: auto;
    box-sizing: border-box;
}
@keyframes mmfadeIn{from{opacity:0}to{opacity:1}}
@keyframes mmfadeOut{from{opacity:1}to{opacity:0}}
@keyframes mmslideIn{from{transform:translateX(-15%)}to{transform:translateX(0)}}
@keyframes mmslideOut{from{transform:translateX(0)}to{transform:translateX(-10%)}}
.micromodal-slide{display:none}
.micromodal-slide.is-open{display:block}
.micromodal-slide[aria-hidden=false] .modal__overlay{animation:mmfadeIn .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=false] .modal__container{animation:mmslideIn .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=true] .modal__overlay{animation:mmfadeOut .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=true] .modal__container{animation:mmslideOut .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide .modal__container,.micromodal-slide .modal__overlay{will-change:transform}