/* Dark theme */

html, html[data-theme="light"] {
    --sidebar-bg: hsl(0, 0%, 98%);
    --sidebar-bg-border: hsl(0, 0%, 88%);
    --jtnav-text-h2: #2c7a7b;
    --body-base: hsl(0, 0%, 100%);
    --text-base: hsl(0, 0%, 12%);
    --text-size: 1.1rem;
    --text-title: hsl(15, 46%, 39%);
    --text-lead: hsl(0, 0%, 18%);
    --text-h1: hsl(0, 0%, 12%);
    --text-h2: hsl(0, 0%, 12%);
    --text-h3: hsl(0, 0%, 12%);
    --text-divider: hsl(0, 0%, 88%);
    --wysc-gray: hsl(0, 0%, 92%);
    --wysc-red: hsl(15, 46%, 39%);
}
html[data-theme="dark"] {
    --sidebar-bg: hsl(0, 0%, 6%);
    --sidebar-bg-border: hsl(0, 0%, 14%);
    --jtnav-text-h2: #81E6D9;
    --body-base: hsl(0, 0%, 12%);
    --text-base: hsl(0, 0%, 92%);
    --text-size: 1.1rem;
    --text-title: hsl(15, 51%, 69%);
    --text-lead: hsl(0, 0%, 90%);
    --text-h1: hsl(0, 0%, 98%);
    --text-h2: hsl(0, 0%, 96%);
    --text-h3: hsl(0, 0%, 94%);
    --text-divider: hsl(0, 0%, 48%);
    --wysc-gray: hsl(0, 0%, 22%);
    --wysc-red: hsl(15, 46%, 39%);
}
@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
	}
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
	}
}

/* 
    --wysc-red-u1: hsl(15, 41%, 44%);
    --wysc-red-u2: hsl(15, 36%, 49%);
    --wysc-red-u4: hsl(15, 26%, 59%);
    --wysc-blue: #aaa;
    --wysc-dark0: #aaa;
    --wysc-dark1: #111;
    --wysc-dark2: hsl(120, 3%, 14%);
    --wysc-light0: #e9ecef;
    --wysc-light1: hsl(120, 3%, 94%);
    --wysc-light2: hsl(120, 3%, 84%);
    --wysc-light3: hsl(200, 14%, 76%);
*/


/* Custom Colors */
.bg-wysc-red {
    background-color: var(--wysc-red);
}
.bg-wysc-light0 {
    background-color: var(--wysc-light0);
}
.bg-wysc-light1 {
    background-color: var(--wysc-light1);
}
.bg-wysc-light2 {
    background-color: var(--wysc-light2);
}
.hover-wysc-gray:hover {
    background-color: var(--wysc-gray);
}


html {
    font-family: 'Source Sans Pro', 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-base);
    background-color: var(--body-base);
    transition: all 0.2s ease;
}
h1 {
    color: var(--text-h1);
}
h2 {
    color: var(--text-h2);
}
h3 {
    font-size: 1.65rem;
    padding-top: 3.65rem;
    padding-bottom: 0.75rem;
    font-weight: bold;
    color: var(--text-h3);
}
p {
    font-size: var(--text-size);
    line-height: 1.75;
}
a > div {
    transition: background-color 0.2s ease-in-out;
}


.bg-jtsidebar {
    background-image: linear-gradient(305deg, rgba(254, 254, 254,0.02) 0%, rgba(254, 254, 254,0.02) 1%,transparent 1%, transparent 50%,rgba(220, 220, 220,0.02) 50%, rgba(220, 220, 220,0.02) 64%,rgba(249, 249, 249,0.02) 64%, rgba(249, 249, 249,0.02) 100%),linear-gradient(38deg, rgba(70, 70, 70,0.02) 0%, rgba(70, 70, 70,0.02) 35%,transparent 35%, transparent 62%,rgba(152, 152, 152,0.02) 62%, rgba(152, 152, 152,0.02) 74%,rgba(99, 99, 99,0.02) 74%, rgba(99, 99, 99,0.02) 100%),linear-gradient(337deg, rgba(124, 124, 124,0.02) 0%, rgba(124, 124, 124,0.02) 45%,transparent 45%, transparent 55%,rgba(34, 34, 34,0.02) 55%, rgba(34, 34, 34,0.02) 72%,rgba(189, 189, 189,0.02) 72%, rgba(189, 189, 189,0.02) 100%),linear-gradient(92deg, rgba(239, 239, 239,0.02) 0%, rgba(239, 239, 239,0.02) 12%,transparent 12%, transparent 22%,rgba(204, 204, 204,0.02) 22%, rgba(204, 204, 204,0.02) 51%,rgba(70, 70, 70,0.02) 51%, rgba(70, 70, 70,0.02) 100%),linear-gradient(90deg, var(--sidebar-bg), var(--sidebar-bg));
    border-right: 1px solid var(--sidebar-bg-border);
}

.jtnav-text-h2 {
    color: var(--jtnav-text-h2);
}
.jtbody-text-title {
    color: var(--text-title);
}
.jtbody-text-lead {
    color: var(--text-lead);
    line-height: 1.65;
}
.jtbody-divider {
    background-color: var(--text-divider);
}
.jtbody-topbar-md {
    background: linear-gradient(180deg, var(--body-base) 0%, var(--body-base) 90%, rgba(0,0,0,0) 100%);
}


.border-r-wysc-light2 {
    border-right: 1px solid var(--wysc-light2);
}
.hoverscale {
    transform: scale(1);
    transition: transform 0.2s linear;
  }
  .hoverscale:hover {
    transform: scale(1.025);
    transition: transform 0.2s linear;
  }


/* Micromodal js */

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    width: 350px;
    max-width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-right: auto;
    border-radius: 0px 4px 0px 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out,-webkit-transform 0.2s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  @keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateX(-15%); }
    to { transform: translateX(0); }
}

@keyframes mmslideOut {
    from { transform: translateX(0); }
    to { transform: translateX(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}