---
---
@import "colors"; /* import first */
@import "jtbase";

:root {
    --text-size: 1.1rem;
    --text-rounded: 1rem;
    --text-mb: 1.65rem;
}

.bg-jtsidebar {
    background-image: linear-gradient(305deg, rgba(254, 254, 254,0.02) 0%, rgba(254, 254, 254,0.02) 1%,transparent 1%, transparent 50%,rgba(220, 220, 220,0.02) 50%, rgba(220, 220, 220,0.02) 64%,rgba(249, 249, 249,0.02) 64%, rgba(249, 249, 249,0.02) 100%),linear-gradient(38deg, rgba(70, 70, 70,0.02) 0%, rgba(70, 70, 70,0.02) 35%,transparent 35%, transparent 62%,rgba(152, 152, 152,0.02) 62%, rgba(152, 152, 152,0.02) 74%,rgba(99, 99, 99,0.02) 74%, rgba(99, 99, 99,0.02) 100%),linear-gradient(337deg, rgba(124, 124, 124,0.02) 0%, rgba(124, 124, 124,0.02) 45%,transparent 45%, transparent 55%,rgba(34, 34, 34,0.02) 55%, rgba(34, 34, 34,0.02) 72%,rgba(189, 189, 189,0.02) 72%, rgba(189, 189, 189,0.02) 100%),linear-gradient(92deg, rgba(239, 239, 239,0.02) 0%, rgba(239, 239, 239,0.02) 12%,transparent 12%, transparent 22%,rgba(204, 204, 204,0.02) 22%, rgba(204, 204, 204,0.02) 51%,rgba(70, 70, 70,0.02) 51%, rgba(70, 70, 70,0.02) 100%),linear-gradient(90deg, var(--sidebar-bg), var(--sidebar-bg));
    border-right: 1px solid var(--sidebar-bg-border);
}
.jtnav-text-h2 {
    color: var(--jtnav-text-h2);
}
.jtbodycontent {
    scroll-behavior: smooth;
}
.jtbody-text-title {
    color: var(--text-title);
}
.jtbody-text-lead {
    color: var(--text-lead);
    line-height: 1.65;
    letter-spacing: 0.015rem;
}
.jtbody-divider {
    background-color: var(--text-divider);
}
.jtbody-topbar-md {
    background: linear-gradient(180deg, var(--body-base) 0%, var(--body-base) 90%, rgba(0,0,0,0) 100%);
}
.jtrightbar div.absolute {
    width: 13%;
    max-width: 20rem;
}
.jtrightbar div.absolute ul.flex {
    width: max-content;
}


/* Components */

.jtbutton {
    background-color: var(--stable-wysc-red);
    color: var(--stable-wysc-gray);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
    font-size: 1rem;
}
    .jtbutton:hover {
        background-color: var(--stable-wysc-red-2);
        color: var(--stable-wysc-gray);
    }



/* Styles */

#markdown-toc { /* see jtbodycontent a */
    border-radius: 0.25rem;
    background-color: var(--sidebar-bg);
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 20rem;
    max-width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    list-style-type: none !important;
}
    #markdown-toc::before {
        content: "Table of Contents";
        font-size: 1.45rem;
        font-weight: bold;
        color: var(--text-h3);
        line-height: 2;
    }
    #markdown-toc ul, #markdown-toc ol { 
        padding-left: 1rem;
        padding-bottom: 0.25rem !important;
        margin-bottom: 0px !important;
        list-style-type: none !important;
    }
        #markdown-toc ul li, #markdown-toc ol li {
            padding-top: 0px;
            padding-bottom: 0px;
            width: 100%;
            border-radius: 0.25rem;
            transition: background-color 0.2s ease-in-out;
        }
        #markdown-toc ul li:hover, #markdown-toc ol li ol li:hover {
            background-color: var(--wysc-light);
        }
    #markdown-toc li {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        width: 100%;
        border-radius: 0.25rem;
        transition: background-color 0.2s ease-in-out;
    }
    #markdown-toc li a {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        display: block;
    }
    #markdown-toc li:hover {
        background-color: var(--wysc-gray);
    }
    @media only screen and (min-width: 1280px) {
        #markdown-toc {
          display: none;
        }
    }
    .rightbarcontent #markdown-toc::before {
        content: "Table of Contents";
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--text-h3);
        margin-left: 0.15rem;
        line-height: 2.5;
    }
    .rightbarcontent #markdown-toc {
        border-radius: 0rem;
        background-color: transparent;
        padding-top: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 0rem;
        box-shadow: none;
        display: block !important;
    }
    .rightbarcontent #markdown-toc > ol {
        padding-left: 0rem;
    }
    .rightbarcontent #markdown-toc li {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        width: 100%;
        border-radius: 0.25rem;
        transition: background-color 0.2s ease-in-out;
    }
    .rightbarcontent #markdown-toc > ol > li > ol li {
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
    }


.border-r-wysc-light2 {
    border-right: 1px solid var(--wysc-light2);
}
.hoverscale {
    transform: scale(1);
    transition: transform 0.2s linear;
  }
  .hoverscale:hover {
    transform: scale(1.025);
    transition: transform 0.2s linear;
  }


/* just-the-docs search */
.search-results-wrap { position: absolute; z-index: 100; display: none; width: calc(100% - 2rem); max-height: calc(100vh - 350px); overflow: hidden ; background: var(--body-base); border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08); }
.search-results-wrap.active { display: block; }
@media (min-width: 50rem) { .search-results-wrap { width: 500px; } }

.search-results-list { padding-left: 0; margin-top: 0.25rem; margin-bottom: 0.25rem; list-style: none !important; font-size: 14px !important; }
@media (min-width: 31.25rem) { .search-results-list { font-size: 16px !important; } }
@media (min-width: 50rem) { .search-results-list { font-size: 12px !important; } }
@media (min-width: 50rem) and (min-width: 31.25rem) { .search-results-list { font-size: 14px !important; } }

.search-results-list-item { padding: 0; margin: 0; }

.search-result { display: block; padding-top: 0.25rem; padding-right: 0.75rem; padding-bottom: 0.25rem; padding-left: 0.75rem; }
.search-result:hover, .search-result.active { background-color: var(--wysc-gray); }
@media (min-width: 50rem) { .search-result { padding-right: 1rem; padding-left: 1rem; } }

.search-result-title { display: block; padding-top: 0.5rem; padding-right: 1rem; padding-bottom: 0.5rem; }
@media (min-width: 31.25rem) { .search-result-title { display: inline-block; width: 40%; word-wrap: break-word; vertical-align: top; } }

.search-result-rel-url { display: block; overflow: hidden; color: #959396; text-overflow: ellipsis; white-space: nowrap; font-size: 9px !important; }
@media (min-width: 31.25rem) { .search-result-rel-url { font-size: 10px !important; } }

.search-result-preview { display: block; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; color: #959396; border-left: 1px solid; border-left-color: #eeebee; font-size: 11px !important; }
@media (min-width: 31.25rem) { .search-result-preview { font-size: 12px !important; } }
@media (min-width: 31.25rem) { .search-result-preview { display: inline-block; width: 60%; vertical-align: top; } }

.search-result-highlight { font-weight: bold; color: #7253ed; }


/* Micromodal js */

.modal ul h2 {
    font-size: 1rem;
}
.modal ul li a div {
    font-size: 1.1rem;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__container {
    width: 350px;
    max-width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-right: auto;
    border-radius: 0px 4px 0px 4px;
    overflow-y: auto;
    box-sizing: border-box;
}
@keyframes mmfadeIn{from{opacity:0}to{opacity:1}}
@keyframes mmfadeOut{from{opacity:1}to{opacity:0}}
@keyframes mmslideIn{from{transform:translateX(-15%)}to{transform:translateX(0)}}
@keyframes mmslideOut{from{transform:translateX(0)}to{transform:translateX(-10%)}}
.micromodal-slide{display:none}
.micromodal-slide.is-open{display:block}
.micromodal-slide[aria-hidden=false] .modal__overlay{animation:mmfadeIn .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=false] .modal__container{animation:mmslideIn .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=true] .modal__overlay{animation:mmfadeOut .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=true] .modal__container{animation:mmslideOut .2s cubic-bezier(0,0,.2,1)}
.micromodal-slide .modal__container,.micromodal-slide .modal__overlay{will-change:transform}