---
layout: default
---
<style>
    a {
        text-decoration: none !important;
    }
    p {
        font-size:1.2em;
        line-height:1.58em;
        margin-bottom:2em;
        color:#111 !important;
        text-align: left;
    }
    h4 {
        font-family: 'Lato', sans-serif;
        margin-top:0.58em;
        color:#b7aaa3 !important;
    }
    code {
        color:#bcbcbc !important;
        margin-left:0.4em;
        margin-right:0.4em;
    }
    .blogjtitle {
        font-family: 'Lato', sans-serif;
        font-weight:600;
        color:#333;
    }
    .blogjbtnpadding {
        margin-bottom:2.5em;
    }
</style>
<a href="https://gitnisyl.github.io/wysc/blog">
    <button type="button" class="btn btn-lg btn-outline-dark blogjbtnpadding">&#9666; Back</button>
</a>
<h1 class="blogjtitle" id="blogptitle">{{ page.title }}</h1>
<h4 id="blogpdate">{{ page.date | date_to_string }}</h4>
<div style="padding-top:3em;"></div>

<div class="blogjpbody">
    {{ content }}
</div>

<!--
<div class="blogpwidth">
    {{ content }}
</div>
-->