---
layout: default
---
<style>
    a {
        text-decoration: none !important;
    }
    p {
        font-size:1.2em;
        line-height:1.58em;
        margin-bottom:2em;
        color:#111 !important;
        text-align: left;
    }
    h4 {
        font-family: 'Lato', sans-serif;
        margin-top:0.58em;
        color:#b7aaa3 !important;
    }
    code {
        color:#bcbcbc !important;
        margin-left:0.4em;
        margin-right:0.4em;
    }
    .blogjtitle {
        font-family: 'Lato', sans-serif;
        font-weight:600;
        color:#333;
    }
    .blogjbtnpadding {
        margin-bottom:2.5em;
    }
    .bloghheader:before, .bloghheader2:before {
        animation: none;
    }
</style>
<a href="https://gitnisyl.github.io/wysc/blog">
    <button type="button" class="btn btn-lg btn-outline-dark blogjbtnpadding">&#9666; Back</button>
</a>
<h1 class="blogjtitle" id="blogptitle">{{ page.title }}</h1>
<h4 id="blogpdate">{{ page.date | date_to_string }}</h4>
<div style="padding-top:3em;"></div>
<div style="display:none">
    <p id="blogptext">{{ page.summary }}</p>
</div>

<div class="blogjpbody">
    {{ content }}

    <br><br>
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_button_copy_link"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_line"></a>
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    <br><br>
    <div style="text-align:center;">
        <button type="button" class="btn btn-lg btn-outline-info" onclick="crate.toggle(true)">Comments ></button>
    </div>
    <br>
</div>

<!--
<div class="blogpwidth">
    {{ content }}
</div>
-->